{% extends 'base.html' %}
{% load custom_filters %}
{% block title %}Analytics{% endblock %}

{% block body_block %}

<div class="row justify-content-center mt-4">
    <div class="col-6">
        <form method="get" action="{% url 'restaurant_app:analytics' %}">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form.date1.label_tag }}
                    {{ form.date1 }}
                </div>
                <div class="form-group col-md-6">
                    {{ form.date2.label_tag }}
                    {{ form.date2 }}
                </div>
            </div>
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">Apply</button>
            </div>
        </form>
    </div>
</div>


<div class="text-center mt-3">
    <h2>Restaurant Sales %</h2>
</div>
<div style="width: 80%; margin: auto;">
    <canvas id="doughnutChart"></canvas>
</div>

<div class="text-center mt-5">
    <h2>Dish Sales</h2>
</div>
<div style="width: 80%; margin: auto;">
    <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var items = JSON.parse('{{ items | safe }}');

    var labels = items.map(item => item.name);
    var data = items.map(item => item.quantity);

    var chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Quantity',
                data: data,
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            indexAxis: 'y',
        }
    });


    var ctx2 = document.getElementById('doughnutChart').getContext('2d');
    var categories = JSON.parse('{{ categories | safe }}');

    var categoryNames = categories.map(category => category.name);
    var percentages = categories.map(category => category.percentage);

    var chart = new Chart(ctx2, {
        type: 'doughnut',
        data: {
            labels: categoryNames,
            datasets: [{
                data: percentages,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    // Add more colors as needed
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    // Add more colors as needed
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false
        }
    });


</script>

{% endblock %}